/* Content Block (Element)
---------------------------------------------------------- */
.wpb_content_element,
.wpb_vc_row_inner {
  margin: 4px 0 0 0;
}

.wpb_column_container {
  > *:first-child {
    margin-top: 0;
  }
}
.wpb_vc_param_value[name="content"] {
  overflow: hidden;
}
textarea.wpb_vc_param_value[name="content"] {
  overflow: auto;
}

.wpb_vc_column_text > .wpb_element_wrapper > .textarea_html.wpb_vc_param_value[name="content"] {
  overflow: visible;
  > pre {
    white-space: pre-wrap;
  }
}
