// Helpers
@vcui-help-block-color: #929292;

.vc_ui-help-block {
  color: @textGray;
  font-size: 12px;
  font-family: @wpb_font-family-primary;
  font-weight: 500;
  line-height: 18px;
  margin: 0;

  .vc_ui-help-link {
    color: @vc_main_color;
    text-decoration: none;
    border: none;
    &:hover {
      color: @vc_main_color_hover;
    }
  }
}
