#vc_settings-modules .form-table tbody > tr:first-child > th {
    display: none;
}
.wpb-module-wrapper {
    width: 280px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    &:not(:first-child) {
        margin-top: 35px;
    }
    .wpb_toggle-track {
        float: right;
    }
    .wpb_element_label {
        font-weight: @wpb_font-weight;
        color: #1d2327;
    }
    .wpb_toggle-switch {
        width: 280px;
    }
}
