.vc_autocomplete-field {
  clear: both;

  select.vc_autocomplete {
    width: 100%;
  }
}

.vc_ui-panel .vc_autocomplete-field {
  .select2-container.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-right: 0;
    padding-left: 0;
    margin-right: 5px;
  }
}

.vc_autocomplete-inline {
  .select2-container {
    .select2-selection--multiple .select2-selection__rendered {
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    .select2-selection .select2-search--inline .select2-search__field {
      min-height: auto;
    }
  }

  .select2-search.select2-search--inline {
    float: none;
  }
}

.wpb_el_type_checkbox {
  .wpb_vc_param_value.filter.checkbox {
    float: none;
  }
}
