.custom_code {
  .wpb-field-shape();
  margin: 5px 0;

  &.ace_editor .ace_gutter {
    background: #F5F5F5;
  }
}

// Code editor tag
.wpb-code-editor-tag {
  margin: 0;
  font-size: 12px !important; // Override for Settings page
  font-weight: @wpb_font-weight;
  font-family: @wpb_font-family-primary;
  line-height: 18px;
  color: @grayPlaceholder
}
