@vc_controls_image_path: '../../../vc/controls.png';
@vc_pattern_image_path: '../../../vc/pattern.gif';
@vc_separator_image_path: '../../../vc/separator.gif';
@vc_plus_image_path: '../../../vc/plus.png';
@vc_minus_image_path: '../../../vc/minus.png';
